<% if(params[:q])
   srch=params[:q]
   else
   srch=params[:s]
   end %>
<table cellspacing="0" cellpadding="0" border="0" width="100%"><tr><td><iframe src="http://www.map-generator.net/extmap.php?name=Spot&amp;address=<%=srch%>&amp;width=320%&amp;height=480%&amp;maptype=map&amp;zoom=14&amp;hl=en&amp;t=1279704388" width="320" height="480" marginwidth="0" marginheight="0" frameborder="0" scrolling="no"></iframe></td></tr></table><!-- Do not change code! -->
