<%= error_messages_for 'seo_setting' %>

<!--[form:seo_setting]-->

<p><label for="seo_setting_page_title">Page title</label>
<%= text_area 'seo_setting', 'page_title', {:rows => 2}  %></p>

<p><label for="seo_setting_meta_keywords">Meta keywords</label>
<%= text_area 'seo_setting', 'meta_keywords', {:rows => 3}  %></p>

<p><label for="seo_setting_meta_description">Meta description</label>
<%= text_area 'seo_setting', 'meta_description', {:rows => 3}  %></p>
<!--[eoform:seo_setting]-->

