<%= error_messages_for 'day' %>

<!--[form:day]-->
<p><label for="day_title">Title</label><br/>
<%= text_field 'day', 'title'  %></p>

<p><label for="day_abbreviation">Abbreviation</label><br/>
<%= text_field 'day', 'abbreviation'  %></p>
<!--[eoform:day]-->

