html,body,div,span,
applet,object,iframe,embed,object,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,font,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 99%;
}
#site-nav li a {
  font-family: Arial, "Adobe Garamond", Garamond, "Garamond ITC", sans-serif !important;
}
#events-page .main {
  padding-bottom: -15px;
}
#events-more-page .main {
  padding-bottom: 20px;
}
/* adjust body copy styles to appropriate size */
#about-page #details p,#seasonal-page #details p,
#days th, #avail th,#pricing dt,#pricing dd,
#product-detail-page #details-1 p,
#product-detail-page #details-2 li,
#events-page #details p,
#events-more-page #details p,
#coffee-page #details p,
#order-page #order-instructions p,
#signup-page #details p,
#contact-page #details p {
  font-size: 0.75em;
  line-height: 1.80em;
}
#about-page #details img {
  margin: 15px 0 0 0;
}
#menu-page #tagline p {
  margin: 10px 0 0 0;
  font-size: 0.80em;
  line-height: 1.60em;
}
#news-page .story p,
#story-page .story .story-teaser p {
  font-size: 0.80em;
  line-height: 1.65em;
}
#story-page .story #brand-statement p {
  font-size: 1.20em;
  font-style: italic !important;
}
#mini-menu p a {
  font-size: 0.70em !important;
}
#mini-menu p.close-menu {  /* close 'x' button */
  position: relative; z-index: 10;
  top: -10px;
  width: 20px;
  margin-left: 225px;
}
#footer div#callout p {
  margin: 2px 0 0 0;
  font-size: 0.84em;
  line-height: 0.80em;
}