<br>


<% form_tag :action => 'update_subchapjournal', :id => @sub_chap_journal do %>
<input type="hidden" name="family_name" id="family_name" value="<%=params[:familyname]%>" />
  <%= render :partial => 'form_subchap' %>
  
<% end %>

