<table>
	<tr>
		<td>
			
		</td>
	</tr>
	<tr>
		<td>
			
		</td>
	</tr>
	<tr>
		<td>
			<font color="#ffffff"><%=flash[:succes]%> </font> 
		</td>
	</tr>
	<tr>
		<td height="400">
			
		</td>
	</tr>
</table>