<html>
   <head>
      <title>Hello Web Service</title>
   </head>
   <body>
      <h1>Hello Web Service </h1>
      <p>

      </p>
      <table border="1"><tr>
          <th>Message</th>
          <th>Name</th>
          </tr>
          <tr>

          <td>

      <%#*<p>%>
      <%#= @service_output %>
      <%#*</p></td>%>

          <%#*<td>%>
<%#*<p>%>
      <%#= @service_output1 %>
      <%#*</p>%>


      <%#*<p>%>
                 <%# @item1.each do |f| %>
                  <%#= f.name %>
                 <%# end %>
      <%#*</p>%>
      </td>
        </tr>
      </table>
   </body>
</html>
