<table  align="center" cellspacing="0" cellpadding="0" border="0" width="100%">
  <tr><td height="50"></td></tr>
<tr><td height="30"><font color="white" size="3"><b>Family Website Address: </b>http://holdmymemories.com/<%=@user.family_name%> </font></td></tr>
<tr><td height="30"><font color="white" size="3"><b>First Name </b>: <%=@user.v_fname%></font></td></tr>
<tr><td height="30"><font color="white" size="3"><b>Username </b>: <%=@user.v_user_name%></font></td></tr>
<tr><td height="30"><font color="white" size="3"><b>Email</b> : <%=@user.v_e_mail%></font></td></tr>
<tr><td height="30"><font color="white" size="3"><b>Birth Date</b> : <%=@user.d_bdate.strftime("%b %d %Y")%></font></td></tr>
</table>
