<h4>Add Comments for <% if (params[:id_journal]=='0') %> <%=session[:subchap_name]%> Sub chapter <%else%>Journal<%end%></h4>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>


