<style>
	.memories{
	font-family:Arial, Helvetica, sans-serif;
	font-size:36px;
	font-weight:normal;
	color:#ff6400;
}
	.head_text{
	font-family:Arial, Helvetica, sans-serif;
	font-size:36px;
	font-weight:normal;
	color:#ffffff;
}
</style>
<table>
	<tr>
		<td width="890" height="500" class="head_text">
			HoldMy<span class="memories">Memories</span>.com Contest
			<br><br>
			<span class="memories">Coming Soon</span>
		</td>
	</tr>
</table>