<form method="post" name="commentform" id="commentform" class="nyroModal" action="/familywebsite_comments/create_chapter_comment/<%=params[:id]%>?chapter_id=<%= params[:chapter_id] %>" >
  <%= render :partial => "partials/commentform", :locals => { :model => "chapter_comment",:field1 => "v_name", :field2 => "v_comment", :label => "Save"} %>
  <input type="hidden" name="chapter_comment[tag_id]" value="<%= params[:chapter_id] %>">
</form>
