<%= error_messages_for 'color' %>

<!--[form:cupcake]-->
<p><label for="color_name">Name</label>
<%= text_field 'color', 'name'  %></p>

<p><label for="color_code">Color:&nbsp;(enter a hexadecimal color code; example: #FFFFFF)</label>
<%= text_field 'color', 'code'  %></p>

<!-- products/_form.rhtml -->

