<html>
<head>
    <title>Hmm Iphone</title>
    <style type='text/css'>
      .white_header{
            font-family:Arial, Helvetica, sans-serif;
            font-size:14px;
            font-weight:bold;
            text-decoration:none;
            color:#fff;
            padding-left:15px;
            padding-top:10px;
        }
        .gray_text{
            font-family:Arial, Helvetica, sans-serif;
            font-size:12px;
            font-weight:bold;
            text-decoration:none;
            color:#4b4b4b;

        }
    </style>
</head>

<body style='height:100%;' >
  <style type='text/css'>

.container{background:#000; color:#fff; margin:0; width:500px;}
.rtop{display:block; background:#fff; }
.rbottom{display:block; background:#fff;}
.rbottom *{display: block; height: 1px; overflow: hidden; background:#000000;}
.rtop *{display: block; height: 1px; overflow: hidden; background:#000;}
.r1{margin: 0 5px;}
.r2{margin: 0 3px;}
.r3{margin: 0 2px;}
.r4{margin: 0 1px; height: 2px;}
</style>
    <table width='500' border='0' align='center' cellpadding='0' cellspacing='0'>
        <tr>
          <td height="40" align='center' valign='middle'><div style="background:#000; color:#fff; margin:0; width:500px;" >
                <b style="display:block;overflow: hidden; background:#000000;" class='rtop'><b class='margin: 0 5px;' class='r1'></b> <b style='margin: 0 3px;' class='r2'></b> <b style="margin: 0 2px;" class='r3'></b> <b style="margin: 0 1px; height: 2px;" class='r4'></b></b>
                    <img src="http://staging.holdmymemories.com/images/hmmiphonelogo.jpg" width="171" border="0" height="48">
                </div></td>
        </tr>
        <tr>
            <td align='left' valign='top' bgcolor='#e4e4e4' id='borders2'>&nbsp;</td>
        </tr>
        <tr>
          <td height='100' align='left' valign='top' bgcolor='#e4e4e4' id='borders'><a href="<%=@link%>" target="_blank"><img src="<%=@image%>" width="150" border="0" align="left" style="padding-left:15px; padding-right:20px;"></a>
                <div style="font-family: Arial,Helvetica,sans-serif; font-size: 20px; color: rgb(0, 0, 0); text-decoration: none; font-weight: bold;"><%=@user.v_fname %> <%=@user.v_lname %></div>
                <div style="font-family: Arial,Helvetica,sans-serif; font-size: 12px; color:#e78601; text-decoration: none; font-weight: bold; padding-top: 5px;"><%=@user.v_fname %> <%=@user.v_lname %>  has requested you to download new iPhone app from HoldMyMemories.com.</div>
                <div style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000000; text-decoration:none; padding-top:15px; margin-left:16px;"><a href="<%=@link%>" target="_blank"><img src="http://staging.holdmymemories.com/images/view_album.gif" width="100" height="27" align="left" style="padding-left:0px; " border="0" /></a></div></td>
        </tr>

        <tr>
            <td align='left' valign='top' bgcolor='#e4e4e4' id='borders4'><div style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#808080; text-decoration:none; padding-top:15px; margin-left:16px;">If you are unable to access this page, please paste the link below into your browser.</div></td>
        </tr>
        <tr>
            <td align='left' valign='top' bgcolor='#e4e4e4' id='borders3'><div style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#2c2c2c; text-decoration:none; padding-top:10px; margin-left:16px;"><%=@link%></div></td>
        </tr>
        <tr>
            <td height="10" align='left' valign='top' bgcolor='#e4e4e4' id='borders'></td>
        </tr>

        <tr>
          <td height='50' align='center' valign='middle' ><div style="width:500px; background:#000000; color:#fff; margin:0 ;">
                    <table width='487' border='0' cellspacing='0' cellpadding='0'>
                        <tr>
                            <td width="199" height='8' align='right' valign='middle'></td>
                            <td width="288" align='left' valign='middle'></td>
                        </tr>
                        <tr>
                            <td height='40' colspan="2" align='center' valign='middle'><div style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#ffffff; text-decoration:none; ">&copy; 2010 HoldMyMemories.com, LLC. All rights reserved.</div> </td>
                        </tr>
                    </table>
              <b style="display:block;overflow: hidden; background:#000000;"><b style='margin: 0 1px; height: 2px;'></b> <b style="margin: 0 2px;"></b> <b style="margin: 0 3px;"></b> <b style="margin: 0 5px;"></b></b>
                </div></td>
        </tr>
    </table>
    <br>
    <br>
    <br>
</body>
</html>
