<h1>Editing journals_comment</h1>

<% form_tag :action => 'update', :id => @journals_comment do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @journals_comment %> |
<%= link_to 'Back', :action => 'list' %>
