<% @page_title = "Edit Product Type" %>
<p><%= link_to 'Back', :action => 'list' %></p>

<% form_tag({:action => 'update', :id => @product_type}, :multipart => true) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Save' %>
<% end %>
