<% for column in ProductType.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @product_type.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @product_type %> |
<%= link_to 'Back', :action => 'list' %>
