<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title>Hold My Memories</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
    <link rel="icon" type="image/png" href="/iui/iui-favicon.png" />
    <link rel="apple-touch-icon" href="/iui/iui-logo-touch-icon.png" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="/iui/iui.css" type="text/css" />

    <link rel="stylesheet" title="Default" href="/iui/t/default/default-theme.css"  type="text/css"/>
    <link rel="stylesheet" href="/iui/iui-panel-list.css" type="text/css" />
    <script type="application/x-javascript" src="/iui/iui.js"></script>
  </head>
  <body>
    <div class="toolbar">
      <h1 id="pageTitle"></h1>
      <a id="backButton" class="button" href="#">Hold My Memories</a>
    </div>
    <ul id="home" title="iUI Demos" selected="true">
      <li><a href="#about">About</a></li>
      <li><a href="#samples">Samples</a></li>
      <li><a href="#3rd-party">3rd Party Samples</a></li>
      <li><a href="#tests">Tests</a></li>
    </ul>
    <%=yield%>
  </body>
</html>