<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Hold My Memories -- SHARE YOUR MOMENTS</title>

<%= stylesheet_link_tag 'main' %>
<%= stylesheet_link_tag 'hmmout' %> 
<%= stylesheet_link_tag 'main' %>
<%= stylesheet_link_tag 'hmmout' %> 
	<%= stylesheet_link_tag 'hmm' %> 
	
	
	<%= stylesheet_link_tag 'main' %>

<%= stylesheet_link_tag 'hmm' %>

<%= javascript_include_tag "prototype" %>



  <%= javascript_include_tag 'accordian/effects' %>
  <%= javascript_include_tag 'accordian/accordion' %>  
	
    <script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
</head>
<link rel='SHORTCUT ICON' href='/images/HMM-icon.ico'/>
<body class="bodytag" onload="MM_preloadImages('/images/aboutus_over.jpg','/images/login_over.jpg','/images/creatanaccount_over.jpg','/images/whyhmm_over.jpg','/images/faq_over.jpg','/images/contactus_over.jpg','/images/learnhowto_over.jpg')">
<div id="testmenu"></div>

<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th align="left" valign="top" background="/images/bg_top.jpg" scope="col">&nbsp;</th>
    <th width="905" align="center" valign="top" scope="col">
    	<table width="905" border="0" cellspacing="0" cellpadding="0">
      <tr >
        <th width="347" align="left" valign="top" scope="col"><a href="/"><img src="/images/logonew.jpg" width="347" height="134" border="0"/></th>
        <th width="410" align="left" valign="top" scope="col"><img src="/images/quote_home.jpg" width="410" height="134" /></th>
        <th width="148" align="right" valign="top" scope="col">
        	<table border="0">
        		<tr>
        			<th>&nbsp;</th>
				</tr>
				<tr>
        			<th width="148" align="right" valign="center" scope="col">
        				<% if is_logged_in? %><font size="2"> 
						<%= link_to 'Logout', {:controller => 'account', :action => 'logout'},
							:method => :post %></font></li>

						<% elsif  logged_in_hmm_user %>
						<li> Logged in as: <%=logged_in_hmm_user.v_user_name%></li>
						<li><%= link_to 'Logout', {:controller => 'user_account', :action => 'logout'},
							:method => :post %></li>
						
						<% elsif session[:employe] %>
					<li> Logged in as: <%=session[:employe_name]%></li>
						<li><%= link_to 'Logout', {:controller => 'account', :action => 'emp_logout'},
							:method => :post %></li>
						
						<% else %>
						
						<% end %>
        			</th>
				</tr>
			</table>
			
				
		</th>
      </tr>
      <tr>
        <th colspan="3" align="left" valign="top" scope="col">
		
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th width="322" height="30" align="left" valign="top" background="/images/bg_leftmenu.jpg" scope="col">&nbsp;</th>
            <th width="583" background="/images/bg_leftmenu.jpg" align="left" valign="top" scope="col"></th>
          </tr>
        </table></th>
        </tr>
    </table></th>
    <th align="left" valign="top" background="/images/bg_top.jpg" scope="col">&nbsp;</th>
  </tr>
  <tr>
    <th align="left" valign="top" background="/images/bg_undermenu.jpg" scope="col">
    	
</th>
<%if logged_in_user%>
    <th width="905" height="37" align="left" valign="" background="/images/bg_undermenu.jpg" scope="col">
    	<input type="hidden" name="userID" value="<%=logged_in_user.id%>" id="userID">
    	
			<%= stylesheet_link_tag 'menu.css' %>
			<%= javascript_include_tag 'menu_items.js' %>
			<%= javascript_include_tag 'menu_tpl.js' %>
			<%= javascript_include_tag 'menu.js' %>	
			<table border="0"  width="100%"><tr><td>
			<script language="JavaScript">
				var userid=document.getElementById("userID").value;
			
				new menu (MENU_ITEMS, MENU_TPL);
			</script></td></tr></table>
			
	
			<% if is_logged_in? %>
			<font size="1"> Logged in as: <%= logged_in_user.username %><br />
			
			Cur-Time : <%= Time.now.strftime("%b #{Time.now.day.ordinalize} %Y   %I:%M %p") %> </font>
			<%end%>
	</th>
	<%else%>
	<%if session[:employe]%>
	<th width="905" height="37" align="left" valign="" background="/images/bg_undermenu.jpg" scope="col">
    	<input type="hidden" name="userID" value="<%= session[:employe] %>" id="userID">
    	<%@empid = session[:employe]
			@emp_type = EmployeAccount.count(:all, :conditions => "id=#{@empid} and emp_type='store_manager'")%>
			<input type="hidden" name="emp_type" value="<%=@emp_type%>" id="emp_type">
			
			<%= stylesheet_link_tag 'menu.css' %>
			<%= javascript_include_tag 'menu_items_employee.js' %>
			<%= javascript_include_tag 'menu_tpl.js' %>
			<%= javascript_include_tag 'menu.js' %>	
			<table border="0"  width="100%"><tr><td>
			<script language="JavaScript">
				var userid=document.getElementById("userID").value;
			
				new menu (MENU_ITEMS, MENU_TPL);
			</script></td></tr></table>
			
	
			
			<font size="1"> Logged in as: <%=session[:employe_name]%><br />
			
			Cur-Time : <%= Time.now.strftime("%b #{Time.now.day.ordinalize} %Y   %I:%M %p") %> </font>
			
	</th>
	<%else%>
	 <th width="905" height="37" align="left" valign="" background="/images/bg_undermenu.jpg" scope="col">
	 	<% if(request.request_uri == "/account/login" ) %>
		<a href="/account/login" ><font color="e15905">Admin Login</font></a>&nbsp;&nbsp;
		<%else%>
		<a href="/account/login" >Admin Login</a>&nbsp;&nbsp;
		<%end%>
		
	<% if(request.request_uri == "/account/employe_login" ) %>
		<a href="/account/employe_login" ><font color="e15905">Employe Login</font></a>&nbsp;&nbsp;
		<%else%>	
	<a href="/account/employe_login" >Employe Login</a>&nbsp;&nbsp;
	<%end%>
	
	
	</th>
	<%end%>
	<%end%>
	
    <th align="left" valign="top" background="/images/bg_undermenu.jpg" scope="col">&nbsp;</th>
  </tr>
  <tr>
    <th align="left" valign="top" scope="col">&nbsp;</th>
    <th align="left" valign="top" scope="col"> 
	<%
		if(request.request_uri==nil)
			@path=''
		else
		

		@m=request.request_uri.split('/')
				@path=@m[2];
				@path=@path.split('?')
				@path=@path[0]
		end
	%>
	 <% if !logged_in_user ||  @path=="fnf_index" %>
	<%= render(:'layouts/menu' => false) %>
<% else %>
	
	
	
<%end%>
<div id="content">
	
	<%= yield %></p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
</div>
<div id="result" ></div>
	
	</th>
    <th align="left" valign="top" scope="col">&nbsp;</th>
  </tr>
  <tr>
    <th rowspan="2" align="left" valign="top" class="bgbottom" scope="col">&nbsp;</th>
    <th height="32" align="left" valign="top" background="/images/bg_bottom_gra.jpg" scope="col">&nbsp;</th>
    <th rowspan="2" align="left" valign="top" class="bgbottom" scope="col">&nbsp;</th>
  </tr>
  <tr>
    <th height="32" align="center" valign="middle" scope="col"><span class="copyright-text">Copyright &copy 2008 HoldMyMemories.com All rights reserved. Website Designed and Developed by <a href="http://www.softwaysolutions.com" target="_blank" class="copyrightstxt">Softway Solutions, Inc.</a>&nbsp;</span></th>
  </tr>
</table>
</body>
</html>