<p>Hello <i>Team</i>, </p>

<p>Following bug has been reported on Holdmymemories.com by User at <%=Time.now %></p>

<p>Reported by: <%= @name%></p>
<p>Email address: <%= @email%></p>
<p>Bug description: <%= @comment%></p>
<br>
<p> Please have a look into the above mentioned issue and try to fix it as soon as possible.

<p>Thank-you,</p>

<p>Your HoldMyMemories.com Team</p>
