<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<font color="#000000" size="4" ><img src="<%=@fuser%>" /></font>

<br>
Name: <font color="#000000" size="4" ><%=@other%></font>

<br>
Email ID: <font color="#000000" size="4" ><%=@emailid%></font>

<br>
 Sex: <font color="#000000" size="4" ><%=@sex%></font>
 <br>
About Me: <font color="#000000" size="4" ><%=@aboutme%></font>
<br>
<a href="/face_book_connect/signup" >Logout</a>
