<% for column in ShareMoment.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @share_moment.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @share_moment %> |
<%= link_to 'Back', :action => 'list' %>
