<form name="frm1" action="/customers/update_group">
<table border="0" width="60%">
	<tr><td colspan="2" align="center"><h3><u>Edit Group</u></h3></td></tr>
	<tr><td></td><td><input type="text" value=""/></td></tr>
	<tr><td></td><td colspan="2"><input type="submit" name="sub" value="Submit"/></td></tr>
</table>
</form>