
<table border="0">
	<tr>
		<th colspan="0">
			
			Name of Friend / Family user
		</th>
		<th colspan="0">
			&nbsp;<%= text_field 'hmm_user', 'refral', :size => 20, :class => "textbox-signup"%>
		</th>
	</tr>
</table>

