<p align="left"><a href="/contact_us/new" target="_blank"><font face="arial" size="3" color="white"><%= flash[:sucess] %> </font></a></p> 
<p align="left"><a href="/contact_us/new" target="_blank"><font face="arial" size="3" color="white"><%= flash[:sucess_id] %> </font></a></p> 
