
h1 {
  font-family: Arial, Helvetica, _sans;
  
  font-weight: bold;
}
.bluetext {
  color: #0000CC;
}
.hmmTxt {
	font-family: Arial,Helvetica,sans-serif;	
	color: #000000;
    font-size: 34px;
	vertical-align: 48px;
    
  
   
}
.orgTxt {
    color: #FF6600;
    text-decoration: none;
}