<html>
 <body>
    <div class="video-js-box">
      <video id="example_video_1"  width="300" height="264" controls="controls" preload="auto" poster="http://content1.holdmymemories.com/user_content/videos/thumbnails/20110720t191419z_83677_spvideo.jpg">
        <source src="http://content1.holdmymemories.com/user_content/videos/iphone/3479442_euddenhagengirls.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
      </video>
    </div>
  </body>
</html>