<h1>Editing familywebsite_share</h1>

<% form_tag :action => 'update', :id => @familywebsite_share do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @familywebsite_share %> |
<%= link_to 'Back', :action => 'list' %>
