<% for column in SubChapter.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @sub_chapter.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @sub_chapter %> |
<%= link_to 'Back', :action => 'list' %>
