<p align="center"><font size='2' color="white">Your Family Website page has been created successfully at following link: <a target="_blank" href="http://www.holdmymemories.com/my_familywebsite/home/<%=params[:id]%>">http://staging.holdmymemories.com/<%=params[:id]%></a></font>