<%= error_messages_for 'faq' %>


<p><label for="faq_question">Question</label><br/>
<%= text_field 'faq', 'question'  %></p>

<p><label for="faq_answer">Answer</label><br/>
<%= text_area 'faq', 'answer'  %></p>


