<% for column in SharedMomentId.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @shared_moment_id.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @shared_moment_id %> |
<%= link_to 'Back', :action => 'list' %>
