<%= error_messages_for 'price' %>

<!--[form:price]-->
<p><label for="price_title">Title</label>
<%= text_field 'price', 'title'  %></p>

<p><label for="price_price">Price</label>
<%= text_field 'price', 'price'  %></p>
<!--[eoform:price]-->

