<%= render :partial => "partials/kidscontestintronew",:locals => { :website_type => "fontpage", :topentries_photo1 => @topentries_photo1,:topentries_photo2 => @topentries_photo2,:topentries_photo3 => @topentries_photo3,:topentries_photo4 => @topentries_photo4, :topentries_video1 => @topentries_video1,:topentries_video2 => @topentries_video2,:topentries_video3 => @topentries_video3,:topentries_video4 => @topentries_video4 } %>