

<p align="center"><font color="green" face="arial"><%=flash[:notice_invite]%></font></p>
<p align="center"><font color="white" face="arial"><a href="<%=session[:vote_url]%>">Click here</a> to go back to contest entry.</font></p>