
.bodytag1 {
	margin: 0px;
	padding: 0px;
	background-color:#000000;
}
.logintxt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
}
.logintxt-orange {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ff6600;
	font-weight: normal;
}
.welcometext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #ffffff;
	font-weight: normal;
}
.heading-undermenu{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#ff5e00;
	font-weight:normal;
}
.heading-undermenuwhite{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#ffffff;
	font-weight:normal;
}
.copyright-text{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 10px;
	color:#ffffff;
	font-weight:normal;
}


.bgtop {
	background-image: url(/images/bg_left1.jpg);
	background-repeat: repeat-x;
}
.bgbottom {
	background-image: url(/images/bg_bottom.jpg);
	background-repeat: repeat-x;
}
