/*
 menu styles
 note: not all browsers render styles the same way so try out your style sheet
 in different browsers before publishing
*/

/* level 0 inner */
.m0l0iout {
	font-family: sans-serif, Tahoma, Verdana, Geneva, Arial, Helvetica;
	font-size: 12px;
	text-decoration: none;
	margin: 4px 0 0 4px;
	color: #FFFFFF;
}
.m0l0iover {
	font-family: sans-serif, Tahoma, Verdana, Geneva, Arial, Helvetica;
	font-size: 12px;
	text-decoration: underline;
	margin: 4px 0 0 4px;
	color: #FFFFFF;
}

/* level 0 outer */
.m0l0oout {
	text-decoration : none;
	background-image: url(/images/lev0_bg2.gif);
	border: 1px solid #000000;
	background-color: #2f2f2f;
}
.m0l0oover {
	text-decoration : none;
	background-image: url(/images/lev0_bg2.gif);
	background-color: #2f2f2f;
	border: 1px solid #000000;
}

/* level 1 inner */
.m0l1iout {
	font-family: sans-serif, Tahoma, Verdana, Geneva, Arial, Helvetica;
	font-size: 12px;
	margin: 4px 0 0 17px;
	color: #FFFFFF;
}
.m0l1iover {
	font-family: sans-serif, Tahoma, Verdana, Geneva, Arial, Helvetica;
	font-size: 12px;
	margin: 4px 0 0 17px;
	color: #FFFFFF;
}

/* level 1 outer */
.m0l1oout {
	text-decoration : none;
	background-color: #5f5f5f;
	border: 1px solid #5f5f5f;
	padding: 0;
}
.m0l1oover {
	text-decoration : none;
	background-color: #2f2f2f;
	background-image: url(/imag/lev1_arrow.gif);
	background-repeat: no-repeat;
	width:auto;
	border: 1px solid #2f2f2f;
	padding: 0;
}