.bodytag {
	margin: 0px;
	padding: 0px;
	background-color:#000000;
}
.logintxt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
}
.logintxt-orange {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ff6600;
	font-weight: normal;
}
.introtext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #808080;
	text-decoration: underline;
}

.welcometext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #ffffff;
	font-weight: normal;
}
.textbox-signup {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #000;
	text-decoration: none;
	background-image: url(/images_red/txtbx.jpg);
	background-repeat: repeat-x;
	width: 148px;
	height: 16px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	padding-top:2px;
	padding-left:5px;
}
.heading-undermenu{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#ff5e00;
	font-weight:normal;
}
.heading-undermenuwhite{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#ffffff;
	font-weight:normal;
}
.copyright-text{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 10px;
	color:#ffffff;
	font-weight:normal;
}

.copyrightstxt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}

.border1 {
	border: thin solid #191919;
}

.textbox-1 {
 font-family: Tahoma;
 font-size: 12px;
 font-weight: normal;
 color: #000;
 text-decoration: none;
 background-color:#FFFFFF;
 background-image: url(/images_red/textbox-1.jpg);
 background-repeat: repeat-x;
 width: 297px;
 border-top-width: 0px;
 border-right-width: 0px;
 border-bottom-width: 0px;
 border-left-width: 0px;
 border-top-style: solid;
 border-right-style: solid;
 border-bottom-style: solid;
 border-left-style: solid;
 padding-top:2px;
 padding-left:5px;
}

.textbox-signup-managepage {
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	color: #000;
	text-decoration: none;
	background-image: url(/images_red/txtbx.jpg);
	background-repeat: repeat-x;
	width: 279px;
	height: 16px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	padding-top:2px;
	padding-left:3px;
	
}

.bgtop {
	background-image: url(/images_red/bg_left1.jpg);
	background-repeat: repeat-x;
}
.bgbottom {
	background-image: url(/images_red/bg_bottom.jpg);
	background-repeat: repeat-x;
}
.conthead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #ff6600;
}
.questions-text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #faf382;
}
.contbold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #ffffff;
	font-weight:bolder;
}

.bodytag {
	margin: 0px;
	padding: 0px;
	background-color: #000000;
}
.menu_top_bg {
	background-image: url(/images_red/menu_top_bg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}
.banner_main_bg {
	background-image: url(/images_red/banner_main_bg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}
#menu_main_bg {
	background-image: url(/images_red/menu_main_bg01.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}
.bottom_line {
	background-image: url(/images_red/bottom_line.jpg);
	background-position: left top;
}
.copyrighttxt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
	text-decoration: none;
	padding-top: 15px;
}
.leftcont {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #a0a0a0;
	text-decoration: none;
	line-height: 18px;
}
.leftcont2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 18px;
}
.leftcont2:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration:underline;
	line-height: 18px;
}
#leftcontbg {
	background-image: url(/images_red/left_cont_bg.jpg);
	background-repeat: repeat-x;
	background-position: top;
}
#leftcontbg2 {
	background-image: url(/images_red/left_cont_bg2.jpg);
	background-repeat: repeat-y;
	background-position: bottom;
}
#leftcont2bg {
	background-image: url(/images_red/left_cont2_bg.jpg);
	background-repeat: repeat-x;
	background-position: top;
}
#leftcont2bg2 {
	background-image: url(/images_red/left_cont2_bg2.jpg);
	background-repeat: repeat-y;
	background-position: bottom;
}

#body_left_bg {
	background-image: url(/images_red/body_left_bg.jpg);
	background-repeat: repeat-y;
	background-position: right top;
}
#body_right_bg {
	background-image: url(/images_red/body_right_bg.jpg);
	background-repeat: repeat-y;
	background-position: left top;
}
.searchbox {
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 10px;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
 background-image: url(/images_red/search_form_bg.gif);
 background-repeat: repeat-x;
 height: 14px;
 width: 134px;
 padding-top: 2px;
 margin-top:5px;
 margin-bottom:5px;
 padding-bottom:0px;
 
}
.conthr {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.conthr_biog {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.cont {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 18px;
}
.biotxt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #b5b6b6;
	text-decoration: none;
}
.biotxt:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: underline;
}
.commenthr {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #878787;
	text-decoration: none;
}
.commentcont {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 18px;
}
.comment {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
}
#msgboardcontbg {
	background-image: url(/images_red/msgboard_contbg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	background-color: #0c0c0c;
}
#msgboardtopicbg {
	background-color: #b6b6b6;
	background-image: url(/images_red/msgboard_topicbg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}
.createtopic {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.topicshr {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: normal;
	color: #a3a3a3;
	text-decoration: none;
}
.topicstitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}
.topicsleftcont {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #a3a3a3;
	text-decoration: none;
}
.topicsconthr {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #ffffff;
	text-decoration: none;
}
.topicsconthr2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}
.topicsfrom {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #ffffff;
	text-decoration: none;
}
.topicsdate {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #6b6b6b;
	text-decoration: none;
}
.topicsname {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}
.topicscont {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #a3a3a3;
	text-decoration: none;
	line-height: 18px;
}
.textbox {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	background-image: url(../images_red/textbox_bg.gif);
	background-repeat: repeat-x;
	height: 20px;
	width: 180px;
	margin: 0px;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
}
.textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	height: 100px;
	width: 250px;
	margin: 0px;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
}
.formcont {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 18px;
}
.button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #363636;
	margin: 0px;
	padding: 0px;
	height: 23px;
	width: 52px;
	border: 0px;
}
.button:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #868686;
	margin: 0px;
	padding: 0px;
	height: 23px;
	width: 52px;
	border: 0px;
}

.recentlymoment {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

.breadcrumb{
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 12px;
}

.links {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #ffffff;
	text-decoration: underline;
}

.style {
 font-family: "Bickham Script Pro Regular";
 font-size: 45px;
 color: #272626;
 font-style: normal;
 font-weight: normal;
 font-variant: normal;
 text-decoration: none; 
 line-height: 35px;
}

.welcometxt {
font-family: "Monotype Corsiva, Arial, Helvetica";
font-size: 30px;
color: #191919;
font-style:  italic;
font-weight: normal;
font-variant: normal;
text-decoration: none;
line-height: 40px;
padding-left:24px;
}
.headermain_txt {
font-family: "Monotype Corsiva, Arial, Helvetica";
font-size: 40px;
color: #575757;
font-style:  italic;
font-weight: normal;
font-variant: normal;
text-decoration: none;
line-height: 76px;
padding-left:24px;
}
.family_header_txt {
font-family: "Monotype Corsiva, Arial, Helvetica";
font-size: 28px;
color: #575757;
font-style:  italic;
font-weight: normal;
font-variant: normal;
text-decoration: none;
line-height: 30px;
padding-left:200px;
top: 0px;
}


.body {
	background-color: #000000;
	margin: 0px;
	padding: 0px;
}
.bg_cont_top{
	background-image:url(/images_red/bg_cont_top.jpg);
	background-repeat:repeat-x;
}
.video_link_txt{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	color:#FFFFFF;
}
.text1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#c6c6c6;
}
.txt_feild {
	background-image: url(/images_red/bg_textarea_new.jpg);
	background-repeat: repeat-x;
	height: 31px;
	padding-top:6px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style:  none;
	width: 467px;
	float: left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:normal;
	color:#000000;
}
.heading{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:normal;
	color:#ff6400;
}
.footer_navi{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFFFFF;
	font-weight:normal;
}
.yellow_txt{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	color:#d9c99f;
}
.copyright_txt{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:normal;
	color:#FFFFFF;
}
.bgtop{
	background-image:url(/images_red/bg_top.jpg);
	background-repeat:repeat-x;
	background-position:top;
}
.bgtop_bar{
	background-image:url(/images_red/bg_menu.jpg);
	background-repeat:repeat-x;
	background-position:top;
}
.bgmiddle_bar{
	background-image:url(/images_red/bg_middlebar.jpg);
	background-repeat:repeat-x;
	background-position:top;
}
.bgbottom_bar{
	background-image:url(/images_red/bg_bottombar.jpg);
	background-repeat:repeat-x;
	background-position:top;
}

.familytitle{
 font-family:"Arial";
 font-size:35px;
 
 text-decoration:none;
 font-style:italic;
 color:#454545;
}

.familytitle1{
 font-family:"Arial";
 font-size:25px;
 
 text-decoration:none;
 font-style:italic;
 color:#454545;
}

.familytitle2{
 font-family:"Arial";
 font-size:20px;
 
 text-decoration:none;
 font-style:italic;
 color:#454545;
}

.toppara{
 font-family:Arial, Helvetica, sans-serif;
 font-size:10px;
 color:#777777;
 text-decoration:none;
}

.botpara{
 font-family:Arial, Helvetica, sans-serif;
 font-size:10px;
 color:#8e8e8e;
 text-decoration:none;
}
.vidpara{
 font-family:Arial, Helvetica, sans-serif;
 font-size:11px;
 color:#8e8e8e;
 text-decoration:none;
}
.h1colorfamily{
font-size: 20px;
color: #b9b9b9;
font-family:"Times New Roman", Times, serif;
text-decoration: none;
display:block;

}

.h2colorfamily{
font-size: 12px;
color: #b9b9b9;
font-family:"Times New Roman", Times, serif;
text-decoration: none;
display:block;
}

.colorfamily{
font-size: 11px;
color: #ff620b;
font-family:Arial, Helvetica, sans-serif;
text-decoration: none;
}

#familydiv{
	width:430px;
	height:20px;
	background-color:#fff;
}

.textorange{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #ff6400;
}

a{
	text-decoration: none;
}

.vertimenubox{
	 width:150px;
	 margin-left:10px;
	 padding-top:10px;
	 padding-bottom:10px;
}
.whitetext{
	 font-family: Arial,Helvetica,sans-serif;
	 font-size: 12px;
	 color: #fff;
	 font-weight: bold;
	 text-decoration: none; 
	 height:25px;
}

.whitetext:hover{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	color: #ed600e;
	font-weight: bold;
	text-decoration: none; 
}

.orangetext{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	color: #ed600e;
	font-weight: bold;
	text-decoration: none; 
}


.bodytag {
	margin: 0px;
	padding: 0px;
	background-color: #000000;
}
.menu_top_bg {
	background-image: url(/images_red/menu_top_bg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}
.banner_main_bg {
	background-image: url(/images_red/banner_main_bg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}
.banner_main_bg2 {
	background-image: url(/images_red/banner_main_bg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}
#menu_main_bg {
	background-image: url(/images_red/menu_main_bg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}
.bottom_line {
	background-image: url(/images_red/bottom_line.jpg);
	background-position: left top;
}
.copyrighttxt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
	text-decoration: none;
	padding-top: 15px;
}
.leftconthr {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.leftcont {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #a0a0a0;
	text-decoration: none;
	line-height: 18px;
}
#leftcontbg {
	background-image: url(/images_red/left_cont_bg.jpg);
	background-repeat: repeat-x;
	background-position: top;
}
#leftcontbg2 {
	background-image: url(/images_red/left_cont_bg2.jpg);
	background-repeat: repeat-y;
	background-position: bottom;
}
#leftcont2bg {
	background-image: url(/images_red/left_cont2_bg.jpg);
	background-repeat: repeat-x;
	background-position: top;
}
#leftcont2bg2 {
	background-image: url(/images_red/left_cont2_bg2.jpg);
	background-repeat: repeat-y;
	background-position: bottom;
}

#body_left_bg {
	background-image: url(/images_red/body_left_bg.jpg);
	background-repeat: repeat-y;
	background-position: right top;
}
#body_right_bg {
	background-image: url(/images_red/body_right_bg.jpg);
	background-repeat: repeat-y;
	background-position: left top;
}
.searchbox {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	background-image: url(/images_red/search_form_bg.gif);
	background-repeat: repeat-x;
	height: 16px;
	width: 134px;
	padding: 0px;
	margin: 0px;
}
#table_br {
	border: 1px solid #CC1004;
}
#table_br_btm {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CC1004;
}
#table_br_right {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CC1004;
}
#table_bar_bg {
	background-color:#A00501;
}
.journal_txt_link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
}
.notice_txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.leftcont_link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 18px;
}
.notice_cont {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #f5dfa6;
	text-decoration: none;
	line-height: 18px;
}
.share_pop_bg {
	background-color:#000;
}
.submitbtn{
	background-color:#333;
	width:54px;
	height:22px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFF;
	font-weight:normal;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}
.logo_trans {
	background-image:url(/images_themes/logo_trans_white.png);
	background-repeat:no-repeat;
	width:367px;
	height:93px;
	padding-bottom:5px;
}
.share_pop_hr {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #FFF;
	text-decoration: none;
}
.share_pop_hr_color {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #fe6809;
	text-decoration: none;
}
#left_hr_bg {
	background-image:url(../images_red/left_conthr_bg.jpg);
	background-repeat:repeat-x;
	background-position:top left;
}
.view_chapter_btn {
	background-image:url(../images_red/view_chapter_def.jpg);
	background-position:left top;
	background-repeat:no-repeat;
	width:139px;
	height:28px;
	float:right;
}
.view_chapter_btn:hover {
	background-image:url(../images_red/view_chapter_ovr.jpg);
	background-position:left top;
	background-repeat:no-repeat;
	width:139px;
	height:28px;
	float:right;
}

.orangelinkswitch{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#fe6809;
    text-decoration:underline;
    font-weight:bold;
}
 a {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none; 
}