
#menu8 {
    width: 150px;
    margin: 10px;
    border-style: solid;
    border-color: #000000;
    border-size: 1px;
    border-width: 1px;
}

#menu8  a {
    height: 32px;
    voice-family: "\"}\"";
    voice-family: inherit;
    height: 24px;
    text-decoration: none;
}

#menu8  a:link, #menu8  a:visited {
    color: #656556;
    display: block;
    background:  url(/images/menu8.gif);
    padding: 8px 0 0 20px;
}

#menu8  a:hover {
    color: #474739;
    background:  url(/images/menu8.gif) 0 -32px;
    padding: 8px 0 0 20px;
}

#menu8  a:selected {
    color: #474739;
    background:  url(/images/menu8.gif) 0 -32px;
    padding: 8px 0 0 20px;
}