<%= error_messages_for 'contest' %>


<p><label for="contest_uid">Uid</label><br/>
<%= text_field 'contest', 'uid'  %></p>

<p><label for="contest_moment_type">Moment type</label><br/>
<%= text_field 'contest', 'moment_type'  %></p>

<p><label for="contest_contest_title">Contest title</label><br/>
<%= text_field 'contest', 'contest_title'  %></p>


