<p><%= link_to 'Images', :controller => 'dyno_images', :action => 'list', :dyno_page_id => @dyno_page %> | <%= link_to 'SEO', :action => 'seo', :id => @dyno_page %> | <%= link_to 'Edit', :action => 'edit', :id => @dyno_page %></p>

<p><%= link_to 'Back', :action => 'list' %></p>
