<% 
    @page_title="New Page" 
-%>
<p><%= link_to 'Back', :action => 'list' %></p>

<% form_tag :action => 'create' do %>

  <%= render :partial => 'form' %>

  <%= submit_tag "Create", :class => 'clear' %>
<% end %>

