<form action="<%=request_content_url%>/hmm_studios_content/download_user_content/<%=params[:id]%>" method="post">
  <table border="0" align="center">
    <tr><td height="30"><font color="white">Enter Email ID:</font></td><td><input type="text" name="email" id="email" /></td></tr>
    <tr><td height="30" colspan="2"><input type="submit" name="Submit" value="Submit" /></td></tr>
  </table>
</form>