<table width="900" border="0" cellspacing="0" cellpadding="0" >
	<tr>
      <th height="13" align="left" valign="top" scope="col"></th>
    </tr>
    
    <tr>
      <th  width="100%" align="left" valign="top" scope="col">	
	  	<div id="table">
			<%= render :partial => "excel_report1" %>
		</div>
	  </th>
    </tr>
</table>