<% for column in EmployeAccount.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @employe_account.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @employe_account %> |
<%= link_to 'Back', :action => 'list' %>
