head {
font-family:Verdana;
font-size:13px;
color:#000000;
}

body {
font-family:Verdana;	
font-size:11px;
color:#606060; 
}

a {
color:#ff0000;
font-family:Verdana; 
font-size:20px;
}