<h1>Create Business Manager Account</h1>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <center> <%= submit_tag "Create" %></center>
<% end %>

<!-- %= link_to 'Back', :action => 'list' % -->
