<%= javascript_include_tag "themes/nyromodal/jquery-1.3.2.min" %>
<%= javascript_include_tag "themes/nyromodal/jquery.nyroModal-1.5.2.pack.js" %>
<%= stylesheet_link_tag '/stylesheets/themes/nyromodal/nyroModal'%>
<style>
	.yellow_txt{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	color:#d9c99f;
}
</style>
<table width="260" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <th scope="col">&nbsp;</th>
              </tr>
              <tr>
                <th align="left" valign="top" scope="col" style="padding-left:35px;"><a href="/customers/new/platinum_account" ><img src="/images/premium_ac.jpg" border="0" width="216" height="58" /></a></th>
              </tr>
              <tr>
                <th align="left" valign="top" scope="col">&nbsp;</th>
              </tr>
              <tr>
                <th align="left" valign="top" class="cont" scope="col" style="line-height:20px;"><table width="100%"><tr><td width="20"></td><td><span class="yellow_txt">HMM Premium Accounts are available through HoldMyMemories.com licensed studios. <br>Benefits vary by location and may include:</span></td></tr></table>
                <ul>
                <span class="yellow_txt">
                

                <li>FREE Monthly Studio Portrait Sessions!</li>
                <li>FREE 8x10 Color Portrait from each session!</li>
                <li>Free &ldquo;Studio Plus&rdquo; retouching on every image purchased!</li>
                <li>FREE &ldquo;Photo Music Video&rdquo; from your portrait session (posted to your website)</li>
                <li>Unlimited help with the creation and maintenance of your HoldMyMemories.com family site</li>
                <li>One Dozen FREE Holiday Cards with your October or November HMM Studio Session<br>
				<li><a href="/static/studios" class="yellow_txt"> Check with an HMM Studio near you for further details.</a><br>
                </li>
                </span>
               </ul>
                </th>
              </tr>
            </table>