<% for column in ShareJournal.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @share_journal.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @share_journal %> |
<%= link_to 'Back', :action => 'list' %>
