

<%= "You have logged out sucessfully from Face Book." %>

<p align="left"> <font color="white" face="arial">Please  <a href="<%=session[:vote_url]%>">Click here</a> to go back to the contest entry page. </font></p> <br>

<%=session[:_rfacebook_fbsession_holder]%>
<%=session[:__RFACEBOOK_fbparams]%>