<form name="frm" action="add_invites" >
  <table>
     <tr>
       <td colspan="2" align="left"><font colr="white" face="arial" size="2"><b>Friends List from your Facebook account</b></font></td>
     </tr>
     
<%



%>
</form>
