<% @page_title="Edit Delivery Fee" -%>
<p><%= link_to 'Back', :action => 'list', :store_id => params[:store_id] %></p>

<% form_tag({:action => 'update', :id => @deliveryfee}, :multipart => true ) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Save' %>
<% end %>
