<% for column in SubchapComment.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @subchap_comment.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @subchap_comment %> |
<%= link_to 'Back', :action => 'list' %>
