<p align="center"><font face="arial" size="3" color="white">If you choose not to continue with the premium plan you are at risk of losing your family website and Studio session folder. </font></p>
<p align="center"><font face="arial" size="3" color="white"> if you would like you can continue with a $4.95 family website subscription and not loose your family website. </font></p>

<p align="center"><a href="/manage_site/upgrade/<%=params[:id]%>?atype=family_website"><input type="button" name="but1" value="Yes I would like to go for this option." onclick="window.location='/manage_site/upgrade/<%=params[:id]%>?atype=family_website'" /></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/tags/coverflow"><input type="button" name="but2" value="No Thanks!" onclick="window.location='/tags/coverflow'" /></a></p>