<?xml version="1.0"?>
<chapterid><%=@tag.id%></chapterid>
<subchapterid><%=@sub_chapter.id%></subchapterid>
<photoid><%=@arr[0]%></photoid>
<videoid><%=@arr[1]%></videoid>
<audioid><%=@arr[2]%></audioid>