
<input type="hidden" value="<%= params[:tag_id]%>" name="tag_id" />

<input type="hidden" value="<%= params[:redirect]%>" name="redirect" />
<input type="hidden" value="<%= params[:table]%>" name="table" />
<input type="hidden" value="<%= params[:cid]%>" name="cid" />

<textarea name="reply" cols="40"  rows="10"></textarea><br><br>