<p>Hello <i><%= @name %></i>, </p>
<p></p>
<p>We're sorry you forgot your HoldMyMemories.com password.</p>
<p></p>
<p> You may login to your account using the credentials below. </p>

<p><a href="www.holdmymemories.com/user_account/login">http://www.holdmymemories.com/user_account/login</a></p>
<p>Username: <%= @username%></p>
<p>Password: <%= @password%></p>

<p></p>
<p>Thank You!</p>
<p>HoldMyMemories Team</p>
