<p>You have been invited to view <%=@invitee%>'s website at HoldMyMemories.com .
</p>
<p>To view <%=@invitee%>'s website at HoldMyMemories.com click on the following link:</p>
<p><a href="http://www.holdmymemories.com/<%=@family_name%>">http://www.holdmymemories.com/<%=@family_name%></a></p>
<%if @password != 'no'%>
<p>Password : <%=@password%></p>
<%end%>
<p>To join HoldMyMemories.com click on the following link:</p>
<p><a href="http://www.holdmymemories.com/customers/authorise_verify">http://www.holdmymemories.com/join_hmm/</a></p>
<p></p>
<p>If you're already an HoldMyMemories.com member, make sure that the email address at which you received this note is entered into your HoldMyMemories.com profile.  That way, you'll automatically be connected to all of your friends.</p>