
Dear <%= @owner %>,<br/>

<p><%= @msg  %></p>
<p>User details:</p>
<p>User Name:<%= @name %></p>
<p>Email Id : <%= @frm %></p>

<p><a href="<%= @link %>/order_request/process_request/<%= @code %>">Please Click here</a>to approve my request!!!</p>
<p><%= @body %></p>
<p>Thanks and Regards</p>
<%= @name %>