<div class="footer-link" style="padding-bottom:10px;" align="center"><a href="#">Contact Us</a> | <a href="#">Privacy Policy</a> | <a href="#">End Users License Agreement</a></div>
<div class="footer-copyright" align="center">Copyright &copy; 2008 Hold MY Memories. All rights reserved. <br />
  Website Designed and Developed by <a href="http://www.softwaysolutions.com">Softway Solutions</a>, Inc.</div>