<%= error_messages_for 'social_networking' %>

<!--[form:social_networking]-->
<p><label for="social_networking_uid">Uid</label><br/>
<%= text_field 'social_networking', 'uid'  %></p>

<p><label for="social_networking_family_website">Family website</label><br/>
<%= text_field 'social_networking', 'family_website'  %></p>

<p><label for="social_networking_linked_date">Linked date</label><br/>
<%= datetime_select 'social_networking', 'linked_date'  %></p>
<!--[eoform:social_networking]-->

