<h1>Listing Share Counts</h1>

<table cellpadding="2" cellspacing="2" >
  <tr><th background="/images/body_hor.JPG">Share Type</th><th background="/images/body_hor.JPG">Counts</th></tr>
  <tr bgcolor="#666666"><td height="10">Face Book</td><td><%=@facebook%></td></tr>
  <tr bgcolor="#999999"><td height="10">My Space</td><td><%=@myspace%></td></tr>
  <tr bgcolor="#666666"><td height="10">Twitter</td><td><%=@twitter%></td></tr>
  <tr bgcolor="#999999"><td height="10">Others</td><td><%=@other%></td></tr>
</table>