<% for column in ChapterComment.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @chapter_comment.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @chapter_comment %> |
<%= link_to 'Back', :action => 'list' %>
