<table width="" border="0" cellspacing="0" cellpadding="0" align='center' height="300">
   <tr class="style1">
   <td width="" height="25" align="center" valign="center" colspan="2"><span class="heading">Sorry Business Opportunity Login Credentials is Expired</span></td>
   
  </tr>
</table>