<% for column in PaymentDetail.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @payment_detail.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @payment_detail %> |
<%= link_to 'Back', :action => 'list' %>
