<input type="text" name="uid" id="uid" value="<%=params[:family]%>">
title=<%=params[:title]%><br>
message=<%=params[:message]%><br>
guest name=<%=params[:guest_name]%><br>
guest image = <%=params[:guest_image]%>