<settings>
  <General_Properties>
    <componentWidth value="600"/>
    <componentHeight value="400"/>
    <assets value="/flash/release/images.xml"/>
    <preloader value="/flash/release/assets/preloaders/magic3.swf"/>
    <controls value="/flash/release/assets/skins/skin.xml"/>
    <showAbout value="true"/>
  </General_Properties>
  <Image_Properties>
    <effectType value="smooth"/>
    <effectOut value="0"/>
    <effectOver value="20"/>
    <effectSpeed value="3"/>
    <borderColor value="0x0"/>
    <borderAlpha value="1"/>
    <borderSize value="10"/>
    <cornerRadius value="0"/>
    <expandTime value="0.7"/>
    <expandMethod value="Exponential"/>
    <expandEase value="easeOut"/>
  </Image_Properties>
  <Display_Properties>
    <orientation value="horizontal"/>
    <maxSize value="180"/>
  </Display_Properties>
  <Animation_Properties>
    <type value="finite"/>
    <curvePeak value="-45"/>
    <scaleLeft value="0.15"/>
    <scaleRight value="0.35"/>
    <curveDifLeft value="-21"/>
    <curveDifRight value="32"/>
    <spacing value="70"/>
    <speed value="3"/>
    <startSpeed value="2"/>
    <modifierX value="84.9"/>
    <modifierY value="16"/>
  </Animation_Properties>
  <InfoBox_Properties>
    <style value="/flash/release/ssets/css/style.css"/>
    <backColor1 value="0x0"/>
    <backColor2 value="0x0"/>
    <backAngle value="0"/>
    <backAlpha value="1"/>
    <backRatio value="255"/>
    <padding value="5"/>
    <embedFonts value="true"/>
    <position value="bottom"/>
  </InfoBox_Properties>
  <Background_Properties>
    <backgroundImage value="/flash/release/assets/backgroundImages/dark2.jpg"/>
    <fillType value="solid"/>
    <backgroundColor1 value="0x000000"/>
    <backgroundColor2 value="0xff0000"/>
    <backgroundAlpha value="1"/>
    <bgCornerRadius value="0"/>
    <gradientRotation value="30"/>
    <gradientRatio value="40"/>
    <gradientPosX value="0"/>
    <gradientPosY value="0"/>
  </Background_Properties>
  <Shade_Properties>
    <useShade value="false"/>
    <shadeColor value="0x000000"/>
    <shadeAlpha value="0.7"/>
    <shadeRatio value="183"/>
    <shadeWidth value="207"/>
    <shadeHeight value="18"/>
  </Shade_Properties>
</settings>
