<h1>Editing share_journalcomment</h1>

<% form_tag :action => 'update', :id => @share_journalcomment do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @share_journalcomment %> |
<%= link_to 'Back', :action => 'list' %>
