<ul>
  <li><a href="/ownify/main/" class="strong">Recipes</a>
  <ul>
    <li><a href="/ownify/main/categories/">Categories</a></li>
  </ul>
  
  </li>
  <li><a href="/ownify/owners/" class="strong">Admin Users</a> <a href="/ownify/owners/new"><img src="/images/admin/new.gif"/></a></li>
  <li><a href="/login/logout" class="strong">Logout</a></li>
</ul>